<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Overview Tree</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{{ url_for('static', filename='js/AtTree.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jsonToTable.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  </head>
  <body>
    <div>
      selected site : {{ f_name }}
      selected type : {{ at_type }}
    </div>
    <form action = "http://localhost:5000/" method = "post">
      <select name="site">
        <option value="naver.AT">Naver</option>
        <option value="verge.AT">Verge</option>
        <option value="wiki.AT">Wiki</option>
      </select>
      <select name="type">
        <option value="all">All</option>
        <option value="focusable_with_child">Focusable with child</option>
        <option value="focusable_without_child">Focusable without child</option>
        <option value="focusable_without_child_reduction">Focusable without child reduction</option>
      </select>
      <input type="submit" value="submit"/>
    </form> 
    <table id="html_tag_ratio">
    </table>
    <div id="tree"></div>
    <script>
      var htmlTagData = JSON.parse({{ html_tag_ratio|tojson|safe }});
      buildHtmlTable('#html_tag_ratio', htmlTagData);
      var treeData = JSON.parse({{ json_dump|tojson|safe }});
      buildVerticalTree(treeData[0], "#tree");
    </script>
  </body>
</html>
